@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #23252c;
	font-family: 'Inter', sans-serif;
}

.container {
	width: 317px;
	border-radius: 10px;
	margin: 44px auto;
}

/* Info Styling */

/* About Styling */

/* Interests Styling */

/* Footer Styling */
